@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to the Quiz App</h1>

<p>
    <a class="btn btn-primary" href="@Url.Action("Index", "Quizzes")">View Quizzes</a>
</p>
<p>
    <a class="btn btn-success" href="@Url.Action("Create", "Quizzes")">Create New Quiz</a>
</p>